.WorkExperienceSection {
	margin: 0 10%;
}

.WorkExperienceContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.WorkExperienceCard {
	border-radius: 20px;
	border: 1px solid var(--secundary);
	/* margin-right: 15px; */
	min-width: 380px;
	padding: 7px;
}

.postionName {
	color: var(--midnight-300);
	margin: 0;
}

.companyName {
	color: var(--midnight-100);
	margin: 0;
}

.workExperiencePeriod {
	font-size: 0.7rem;
	margin: 0px;
}

.company_summary {
	margin: 0;
}

.tags {
	display: flex;
	flex-direction: row;
	margin: 10px 0px 0px 0px;
}

.tag {
	background-color: var(--secundary);
	border-radius: 16px;
	border: 1px solid var(--secundary);
	font-size: 0.7rem;
	margin-right: 4px;
	min-width: 30px;
	padding: 3px;
	text-align: center;
}

@media (max-width: 600px) {
	.WorkExperienceSection {
		flex-direction: column;
		align-items: center;
		margin: 0 0;
	}

	.WorkExperienceContainer {
		flex-direction: column;
	}

	.WorkExperienceCard {
		min-width: 350px;
		margin-bottom: 15px;
		margin-right: 0;
	}

	.tag {
		margin-right: 3px;
	}
}