.SocialMediaContainer {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.SocialMediaLink, 
.SocialMediaLink:visited {
	color: var(--baseTextColor);
}

.SocialMediaIcon {
	margin-right: 5px;
	font-size: 1.5rem;
}

.SocialMediaIcon:hover {
	cursor: pointer;
	color: var(--secundary);
}