.SocialMediaContainer {
	flex-direction: row;
	margin-top: 10px;
}

.SocialMediaLink {
	display: inline-block;
}

.SocialMediaLink, 
.SocialMediaLink:visited {
	color: var(--baseTextColor);
}

.SocialMediaIcon {
	margin-right: 3px;
	font-size: 3.2rem;
	max-width: 48px;
	max-height: 48px;
	min-width: 48px;
	min-height: 48px;
}

.SocialMediaIcon:hover {
	cursor: pointer;
	color: var(--secundary);
}

@media (max-width: 320px) {
	.SocialMediaLink {
		height: 48px;
		width: 48px;
	}

	.SocialMediaIcon {
		font-size: 2.5rem;
	}

	.SocialMediaIcon span {
		margin: auto;
	}
}