.summary-container {
	display: flex;
	flex-direction: row;
	text-align: left;
	margin: 0 10%;
}

h1.Name {
	font-size: 2rem;
	margin: 0;
}

h2.Title {
	font-size: 1.5rem;
	margin: 0;
}

p.Description {
	font-size: 1rem;
	margin: 0;
	padding-right: 50px;
}

.Location {
	margin-top: 10px;
}

.summary-container h1.Name > span {
	color: var(--secundary);
}

.summary-container h2.Title {
	color: var(--secundary);
}

@media (max-width: 600px) {
	.summary-container {
		flex-direction: column;
		align-items: center;
		margin: 0 0;
	}
}