@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark-blue-1: #00132D;
	--dark-blue-2: #00193B;
	--dark-blue-3: #001E45;
	--dark-blue-4: #002657;
	--dark-blue-5: #002D67;
	--dark-blue-6: #00377E;

	/* 
		https://uicolors.app/create
		Base Color: #00132D
	*/
	--midnight-50:  #e9f9ff;
	--midnight-100: #cef1ff;
	--midnight-200: #a7e9ff;
	--midnight-300: #6be0ff;
	--midnight-400: #26c9ff;
	--midnight-500: #00a2ff;
	--midnight-600: #0078ff;
	--midnight-700: #005dff;
	--midnight-800: #004fe6;
	--midnight-900: #0048b3;
	--midnight-950: #00132d;
}

@media (prefers-color-scheme: dark) {
	:root { }
}

body {
	background-image: linear-gradient(130deg, var(--dark-blue-2), var(--dark-blue-4), var(--dark-blue-6) );
	height: 100vh;
}

h1 {
	color: var(--midnight-200);
}
