.SkillsSection {
	margin: 0 10%;
}

.SkillsSection h2 {
	font-size: 2.3rem;
}

.SkillContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

@media (max-width: 600px) {
	.SkillsSection {
		flex-direction: column;
		align-items: center;
		margin: 0 0;
	}
}